@model Tools_WebApp.Models.Tool

@{
    ViewBag.Title = "ToolDetails";
}

<h2>ToolDetails</h2>



@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>
        Tool         @Html.DisplayFor(model => model.IdTool)
    </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.IdTool, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IdTool, new { htmlAttributes = new { @class = "form-control", @id = "idTool", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.IdTool, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BoschCode, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BoschCode, new { htmlAttributes = new { @class = "form-control", @id = "boschCode" } })
            @Html.ValidationMessageFor(model => model.BoschCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "description" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrimarySupplier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrimarySupplier, new { htmlAttributes = new { @class = "form-control", @id = "primarySupplier" } })
            @Html.ValidationMessageFor(model => model.PrimarySupplier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SecondarySupplier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SecondarySupplier, new { htmlAttributes = new { @class = "form-control", @id = "secondarySupplier" } })
            @Html.ValidationMessageFor(model => model.SecondarySupplier, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @id = "quantity", @min = "0" } })
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="saveTool" type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>




    <div id="alert-message">
        
    </div>

</div>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $(document).ready(function () {
        $("#saveTool").click(saveData)
    });




    function saveData() {

        $.ajax({
            url: "../Post",
            type: "POST",
            data: {
                IdTool:             $("#idTool").val(),
                BoschCode :         $("#boschCode").val(),
                Description :       $("#description").val(),
                PrimarySupplier :   $("#primarySupplier").val(),
                SecondarySupplier : $("#secondarySupplier").val(),
                Quantity :          $("#quantity").val()
            },
            success: function (result) {

                $("#alert-message").html(result); // partial view success
            },
            error: function (result) {
                $("#alert-message").html(result); // partial view danger
            }

        });

    }


</script>
